@charset "UTF-8";
$('input[name=_selected_all_]').on('change', function(){
  $('input[name=_selected_]').prop('checked', this.checked);
});



fieldset#ss {
	width: 600px;
	position: relative;
	left: 450px;
}

form fieldset {
	width: 600px;
}

form.sform {
	background: lightgray;
	width: 630px;
	position: relative;
	left: 400px;
	display: none; /* 안 보이게 함 */
}

h1 {
	color: black;
	font-size: 30px;
}

body {
	color: #666;
	font: 14px/24px "Open Sans", "HelveticaNeue-Light",
		"Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial,
		"Lucida Grande", Sans-Serif;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
}

th, td {
	padding: 6px 15px;
}

th {
	background: rgb(250, 180, 49);
	color: #000;
	text-align: left;
}

tr:first-child th:first-child {
	border-top-left-radius: 6px;
}

tr:first-child th:last-child {
	border-top-right-radius: 6px;
}

td {
	border-right: 1px solid #c6c9cc;
	border-bottom: 1px solid #c6c9cc;
}

td:first-child {
	border-left: 1px solid #c6c9cc;
}

tr:nth-child(even) td {
	background: #eaeaed;
}

tr:last-child td:first-child {
	border-bottom-left-radius: 6px;
}

tr:last-child td:last-child {
	border-bottom-right-radius: 6px;
}