@charset "UTF-8";

section {
    border: 1px solid #000;
}

section .inner-section {
	display: flex;
	flex: 1;
	justify-content: space-between;
	padding: 30px 30px 50px;
}

section .inner-section .left-section {
	flex: 1;
	border: 1px solid #000;
	height: 300px;
}

section .inner-section .right-section {
	border: 1px solid #000;
	height: 300px;
	flex: 1;
}
