<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodsMapper">
	
	<resultMap id="GoodsResultList" type="Goods">
		<result property="goodsNo" column="GOODS_NO" />
		<result property="goodsName" column="GOODS_NAME" />
		<result property="goodsUnit" column="GOODS_UNIT" />
		<result property="goodsPrice" column="GOODS_PRICE" />
		<result property="nation" column="NATION" />
	</resultMap>
	
	<resultMap id="InventoryResultList" type="Inventory">
		<result property="goodsNo" column="GOODS_NO" />
		<result property="pdQuantity" column="PD_QUANTITY" />
		<result property="minAlarmQuantity" column="MIN_ALARM_QUANTITY" />
		<result property="minOrderQuantity" column="MIN_ORDER_QUANTITY" />
	</resultMap>
	
	<resultMap id="ProduceResultList" type="Produce">
		<result property="goodsNo" column="GOODS_NO" />
		<result property="pdNo" column="PD_NO" />
		<result property="pdName" column="PD_NAME" />
		<result property="producer" column="PRODUCER" />
		<result property="pdPhone" column="PD_PHONE" />
		<result property="pdAdress" column="PD_ADDRESS" />
	</resultMap>
	
	<select id="selectListCount" resultType="int">
		SELECT COUNT(*)
		FROM TB_GOODS_123
	</select>
	
	<select id="selectList" parameterType="paging" resultMap="GoodsResultList">
	    SELECT g.GOODS_NO, g.GOODS_NAME, i.PD_QUANTITY, i.MIN_ORDER_QUANTITY,
	              MIN_ALARM_QUANTITY, p.PD_NAME, p.PD_PHONE, g.GOODS_PRICE, g.NATION
	    FROM TB_GOODS_123 g
	    LEFT JOIN TB_INVENTORY_123 i ON g.GOODS_NO = i.GOODS_NO
	    LEFT JOIN TB_PRODUCE_123 p ON g.GOODS_NO = p.GOODS_NO
	</select>

	
	

</mapper>